# Database
DATABASE_URL="postgresql://user:password@localhost:5432/si_kehati?schema=public"

# NextAuth
NEXTAUTH_SECRET="327608ff50d91fcf05ace92fe86b89137820fcc148a9dbef3ddc2786f731ab41"
NEXTAUTH_URL="http://localhost:3000"
